<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en">
<head>
  <meta charset="UTF-8">
  <title>List book</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
  <h1>Danh sách sách</h1>
  <br>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Action</th> <!-- Thêm cột Action -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books.getContent()}" th:styleappend="${book.id % 2 == 0 ? 'background-color: lightblue;' : ''}">
      <td th:text="${book.id}"></td>
      <td th:text="${book.title}"></td>
      <td th:text="${book.author}"></td>
      <td th:text="${book.year}"></td>
      <td>
        <a th:href="|/books/${book.id}|">
          Xem chi tiết
        </a>
      </td>
      <td>
        <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-edit">Edit</a>
        <a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-delete">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <button th:if="${books.getCurrentPage() != 1}">
    <a th:href="|/books?page=${books.getCurrentPage() - 1}|">Prev</a>
  </button>
  <button th:each="number : ${#numbers.sequence(1, books.totalPages())}">
    <a href="" th:text="${number}"></a>
  </button>
  <button th:if="${books.getCurrentPage() != books.totalPages()}">
    <a th:href="|/books?page=${books.getCurrentPage() + 1}|">Next</a>
  </button>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>